* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#color-palette {
  display: flex;
  gap: 5px;
}

.color {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

#pixel-board {
  display: inline-block;
  columns: 5;
  column-gap: 0;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
}